.gradient-shadow {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(20, 20, 20, 0.40379901960784315) 20%,
    rgba(20, 20, 20, 0.6026785714285714) 40%,
    rgba(20, 20, 20, 0.804359243697479) 60%,
    rgba(20, 20, 20, 1) 80%
  );
}
.img-in-carousel {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
